<?xml version="1.0" encoding="UTF-8"?>
<!--
  Log4j2 configuration for Amazon Managed Service for Apache Flink.
  Forces immediate flush so startup failures are captured in CloudWatch
  before the JVM exits.
-->
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.muralis" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.flink" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.iceberg" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.hadoop" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>
</Configuration>
